#checkbox1{
	width:13px;
	vertical-align:middle;
}
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, .mui-btn-primary:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active{
	background-color:  #1fae50;
    background-color:  #1fae50;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	border: 1px solid  #1fae50;
    background-color:  #1fae50;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    
}
.color_red{
	color: #FE830E;
}
.color_black{
	color: #8f8f94 !important;
}
.mui-content{
	
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: rgba(218, 218, 220, 0.76);
}
.bg_pink{
	background: #fdefe1 !important;
}
.font_12{
	font-size: 12px !important;
}
.font_14{
	font-size: 14px !important;
}
.p_tip1{
	margin-bottom: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
    
/*----*/
@charset "utf-8";

* {
	font-family: Microsoft YaHei;
}

body {
	background-color: white;
}

html,body {
	height: 100%
}

.mui-content {
	min-height: 100%;
	background:#F0EFF5
}

.index-content {
	/*background-color: white;*/
}
/*---*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px; /*杩欎釜灞炴�ц缃娇濉厖杩涘害鏉℃椂鐨勫浘褰负鍦嗚*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}    
input[type=range]::-webkit-slider-runnable-track {
    height: 20px;
    border-radius: 10px; /*灏嗚建閬撹涓哄渾瑙掔殑*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #eee; /*杞ㄩ亾鍐呯疆闃村奖鏁堟灉*/
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -5px; /*浣挎粦鍧楄秴鍑鸿建閬撻儴鍒嗙殑鍋忕Щ閲忕浉绛�*/
    background: #ffffff !important; 
    border-radius: 50%; /*澶栬璁剧疆涓哄渾褰�*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*璁剧疆杈规*/
    box-shadow: 0 .125em .125em #3b4547; /*娣诲姞搴曢儴闃村奖*/
}
/*---*/
.card {
	margin-top: 10px !important;
	border-radius: 8px;
	box-shadow: none;
	background: url(../img/index1.png) center  no-repeat;
	background-size: 100% 100%;
}
.xyed{
	 position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: -4px;
    left: 15px;
}
   
.card>a.card-a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	left: 0
}
#borrow_btn{
    margin-top: 25px;
    padding: 10px 0;
    border-radius: 25px;
    border: none;
    width: 95%;
    margin: 0 auto;
}
/*.index-content>div:nth-child(even) {
	background: url(../img/index2.png) center  no-repeat;
	background-size: cover;
}*/
#block-range-val{
	    margin-left: 40px;
    color:  #fd5f77;
    font-size: 14px;
}
.mui-bar-tab .mui-tab-item.mui-active {
	color:  #1fae50;
}

.mui-bar-tab .mui-tab-item .loan {
	background: url(../img/loan1.png) center  no-repeat;
	background-size: cover;
}

.mui-bar-tab .mui-tab-item .approve {
	background: url(../img/approve1.png) center  no-repeat;
	background-size: cover;
}

.mui-bar-tab .mui-tab-item .home {
	background: url(../img/home1.png) center  no-repeat;
	background-size: cover;
}

.mui-bar-tab .mui-tab-item.mui-active .loan {
	background: url(../img/loan2.png) center  no-repeat;
	background-size: cover;
}

.mui-bar-tab .mui-tab-item.mui-active .approve {
	background: url(../img/approve2.png) center  no-repeat;
	background-size: cover;
}

.mui-bar-tab .mui-tab-item.mui-active .home {
	background: url(../img/home2.png) center  no-repeat;
	background-size: cover;
}

.mui-bar-tab {
	background-color: #fff;
	box-shadow: none;
	border-top: 1px solid #ccc;
}

.mui-bar-nav {
	box-shadow: none;
	background-color: #1fae50;
}

.index-bar-nav .mui-pull-left {
	background: url(../img/banner.png) center  no-repeat;
	background-size: cover;
	height: 24px;
	width: 24px;
	top: 10px;
	left: 8px;
}

.mui-bar-nav .mui-pull-left {
	background: url(../img/back.png) center  no-repeat;
	background-size: cover;
	height:20px;
    width: 20px;
    top: 11px;
    left: 8px;
}

.mui-bar-nav .mui-pull-right {
	background: url(../img/topr.png) center  no-repeat;
	background-size: cover;
	height: 27px;
    width: 30px;
    top: 11px;
    right: 10px;
}

.mui-bar .mui-title {
	color: #fff
}

.mui-card-footer:before, .mui-card-header:after {
	height: 0
}

.card-header-logo {
	display: inline-block;
	height: 38px;
	overflow: hidden;
	border-radius: 50%;
	width: 38px;
}

.card-header-title {
	display: inline-block;
	color: #fff;
	position: relative;
	top: -6px;
	left: 3px;
}

.card-header-title h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
}

.card-header-title p {
	margin: 0;
	font-size: 12px;
	color: #fff;
	font-weight: 300;
}

.card-header-right {
	background: url(../img/cg1.png) center  no-repeat;
	background-size: contain;
	float: right;
	margin-top: -15px;
	text-align: center;
}

.card-header-right a {
	font-size: 12px;
	color: #fff;
	display: block;
	width: 100%;
	padding: 0 10px;
	line-height: 20px;
}

.card-header-right a>img {
	height: 16px;
	position: relative;
	top: 3px;
	left: 2px;
}

.mui-card-content h1 {
	color: #fff;
	margin: 0;
	text-align: center;
	font-weight: 400;
	font-size: 45px;
}

.mui-card-content span {
	font-size: 13px;
}

.mui-card-footer {
	padding-top: 8px;
	font-size: 12px;
	padding-bottom: 12px;
	min-height: initial;
	color: #fd9c29;
    line-height: 40px;
}

.lj-loan {
	/*font-size: 14px;*/
	color: #fd9c29;
}

.lj-loan img {
	height: 12px;
	padding-left: 5px;
	position: relative;
	top: 2px;
}

#alerat {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(51, 51, 51, 0.5);
	z-index: 999;
	display: none
}

.alerat-content {
	border-radius: 30px;
	width: 66%;
	position: absolute;
	top: 50%;
	margin-top: -110px;
	left: 17%;
	background-color: #fff;
}

.closure {
	padding-right: 10px;
	padding-top: 15px;
	box-sizing: border-box;
	text-align: right;
	line-height: 0;
}

.closure img {
	padding: 5px;
	height: 30px;
}

.content {
	text-align: center;
}

.tishi {
	margin-bottom: 15px;
}

.tishi span {
	display: block;
	color: #31AAFD;
}

.content p {
	margin-bottom: 25px;
}

.alerat-content button {
	margin: 0;
	border-radius: 0;
	border: none;
	padding: 8px 0;
	background-color: #31AAFD;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.range{
	padding: 40px 15px;
}
/*浼氬憳涓績*/
.home-top {
	background:#1fae50 ;
	background-size: cover;
	text-align: center;
	padding: 30px 0 45px;
}

.home-top img {
	border-radius: 50%;
	height: 55px;
	width: 55px;
	/*box-shadow: 0 0 6px 2px #6bccff;
	-moz-box-shadow: 0 0 6px 2px #6bccff;*/
}

.home-top p {
	color: #fff;
	margin-top: 5px;
}

.home-top-string {
	position: relative;
	font-size: 13px;
	padding: 12px 0;
	background: #FF7A46 !important; 
    color: #fff; 
}
.home-top-string a{
	color: #fff;
}
.home-top-string .middle {
	position: absolute;
	height: 100%;
	width: 1px;
	top: 0;
	left: 50%;
	background-color: #e6e5ea;
}

.home-top-string,.home-li li {
	background-color: #fff
}

.home-li {
	margin: 0 !important;
	border-radius: 5px;
}

.home-li li>a {
	font-size: 15px;
}

.home-li li:after {
	left: 0
}

.home-li img.mui-media-object {
	height: 20px
}

/*浼氬憳鐧诲綍*/
.login-li:after,.login-li:before {
	height: 0
}

.login-li .mui-input-row:after {
	left: 0
}

.login-li .mui-input-row {
	height: inherit;
	padding-top: 10px
}

.login-li .mui-input-row img {
	padding: 10px 0;
	width: 25px;
	float: left;
}

.login-li .mui-input-row input {
	width: 85%;
	height: 45px;
	padding-left: 20px;
}

.login-li .mui-input-row span {
	top: 22px !important;
}

.login-li .mui-input-row a.yanzheng {
	font-size: 14px;
	position: absolute;
	color:  #fd5f77;
	top: 20px;
	right: 15px;
	background-color: #fff;
	padding-top: 2px;
	padding-left: 15px;
	height: 25px;
	z-index: 999;
	border-left: 1px solid #c8c7cc;
}

#login-btn {
	font-size: 14px;
	position: absolute;
	color:  #fd5f77;
	top: 20px;
	right: 15px;
	background-color: #fff;
	padding-top: 2px;
	padding-left: 15px;
	height: 25px;
	z-index: 999;
	border-left: 1px solid #c8c7cc;
}
form#formid{
	padding: 0 20px;
}
.login-logo {
	padding: 60px 0 60px;
}

.login-logo img {
	/*height: 65px;*/
	width:100px;
}

.login-li .login-but {
	margin-top: 70px;
	height: 40px;
}

.login-li .login-but button {
	font-size: 18px;
    border-color:  #1fae50;
    background-color:  #1fae50;
    border-radius: 20px;
    padding: 15px 0;
    line-height: 5px;
    margin: 0 auto;
}

.login-li .login-li-3 {
	padding: 10px 0;
	font-size: 12px
}

.xieyi {
	color: #8c8c8c;
}

.xieyi a {
	color:  #1fae50;
}

.login-li-3l {
	padding-top: 3px;
}

.login-li-3l a {
	color:  #fd5f77;
}

.login-li-3l img {
	height: 10px;
	padding-left: 5px;
}

.xieyi input[type=checkbox]:before {
	font-size: 18px;
}

.xieyi input[type=checkbox] {
	position: relative;
	top:3px;
	left:2px !important;
}

/*鍊熸鍒楄〃*/
.borrow_cont .mui-segmented-control .mui-control-item.mui-active{
	    color: #1fae50 !important;
    background-color: #fff !important;
}

.loan-content ul {
	margin-top: 0 !important;
	
}

.loan-content ul:before,.loan-content ul:after,.loan-det-content ul:before,.loan-det-content ul:after {
	height: 0
}

.loan-content ul>li:after {
	height: 0
}

.loan-content ul>li,.loan-det-content ul {
	background-color: #fff;
	margin-top: 12px
}

.loan-title {
	font-size: 13px;
	color: #A1A1A1;
	border-bottom: 1px solid #eee;
	padding-bottom: 3px;
}

.loan-title span {
	font-size: 16px;
	color: #000;
}

.loan-detail {
	font-size: 13px;
	color: #A1A1A1;
	padding: 14px 0 3px;
}

.loan-detail p {
	font-size: 14px;
	color: #000;
	padding-top: 15px;
}

.loan-det-content ul>li:after {
	left: 0
}

.loan-det-content ul>li {
	font-size: 13px;
	color: #000;
}

.loan-det-content ul>li span {
	font-size: 16px;
	color: #A1A1A1;
	width: 35%;
	display: inline-block;
}

.but {
	/*background-color: #efeff4;*/
	margin: 0;
	padding: 30px 10px;
}

.but button,.mobile a.button,.applyloan-btn,.bankcard-btn {
	padding: 10px 0;
	border-radius: 25px;
	border: none;
}

/*閭�璇峰ソ鍙�*/
.invitation-xinxi {
	background-color: #fff;
	padding: 15px 0 25px;
	margin-top: -5px;
	font-size: 14px;
}

.invitation-xinxi a {
	padding: 1px 10px;
	background-color:  #fd5f77;
	color: #fff;
	border-radius: 4px;
	margin-left: 8px;
	font-size: 12px;
}

.invitation-xinxi i {
	position: absolute;
	width: 1px;
	height: 35px;
	background-color: #eee;
	right: 0;
	top: -5px;
}

.invitation-but {
	padding-top: 50px;
	padding-bottom: 30px;
}

.invitation-but p {
	font-size: 12px;
	text-align: center;
	color: red;
	margin-bottom: 25px;
}

/*甯歌闂*/
.maxdoubt-ul:before,.maxdoubt-ul:after {
	height: 0
}

.maxdoubt-ul {
	color: #757575;
}

.maxdoubt-ul li:after {
	left: 0 !important;
	bottom: 1px;
}

.maxdoubt-ul li.mui-active {
	background-color: #fff
}

.maxdoubt-ul>li a.maxdoubt-a {
	padding-left: 55px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.maxdoubt-ul>li a.maxdoubt-a img.imgl {
	position: absolute;
	left: 15px;
	width: 25px
}

.maxdoubt-ul>li a.maxdoubt-a img.imgr {
	position: absolute;
	right: 15px;
	width: 20px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.maxdoubt-ul>li.mui-active a.maxdoubt-a img.imgr {
	transform: none;
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
}

.mindoubt-ul:before {
	height: 1px !important;
	top: 0;
}

.mindoubt-ul li {
	padding-left: 15px !important;
}

.mindoubt-ul a {
	white-space: inherit !important;
	text-overflow: inherit !important;
	font-size: 15px
}

.mindoubt-ul li:nth-child(even) {
	background-color: #FAFAFA
}

/*鎴戣杩樻*/
.index-top {
	text-align: center;
	padding: 35px 0 125px;
	background-color:  #fd5f77;
}

.index-top img {
	border-radius: 50%;
	height: 55px;
	width: 55px;
	box-shadow: 0 0 6px 2px #6bccff;
	-moz-box-shadow: 0 0 6px 2px #6bccff;
}

.index-padded {
	position: relative;
	top: -91px;
	z-index: 99;
}

.index-flo {
	background-color: #fff;
	font-size: 13px;
	padding: 15px;
	border-radius: 13px;
	box-shadow: 1px 3px 3px 0px #bbbaba;
}

.index-flo p.p1 {
	margin: 0;
	font-size: 12px;
}

.index-flo p.p2 {
	margin: 0;
	font-size: 12px;
	color: #FF7B27;
}

.index-flo h1 {
	font-weight: 400;
	font-size: 5em;
	color:  #fd5f77;
	margin: 18px 0;
}

.index-but {
	margin-top: 55px;
	padding: 10px 0;
	border-radius: 5px;
	border: none;
	background-color:  #fd5f77;
}

.refund-tab {
	border-radius: 6px;
	border-color: #d6d6d6
}

.refund-tab a.mui-active {
	background-color: #39a7ff !important;
	border-left: 1px solid  #fd5f77;
	    color:  #fd5f77;
    background-color: #fff !important;
}

.refund-tab a.mui-control-item {
	color: #fff;
	border: none;
	width: initial;
    line-height: 30px;
    padding: 0 35px;
}

.refund-riqi {
	    margin-bottom: 10px;
    text-align: center;
    background-color: #fff;
    padding: 10px 0 10px;
}

.refund-riqi h1 {
	font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 5em;
    color: #f38828;
}

.refund-riqi p {
	margin: 35px 0 15px;
    color:  #fd5f77;
    font-size: 14px;
}
.refund-riqi p:nth-of-type(2){
	margin-top: 5px;
}
.refund-table:before,.refund-table:after {
	height: 0
}

.refund-table li:after {
	left: 0
}

.refund-table {
	color: #8f8f94;
	font-size: 14px;
}

.refund-table li {
	padding: 15px;
}



.renewal {
	background-color: #fff;
	margin-bottom: 7px;
}



.renewal div.renewal-title {
    padding: 10px 16px;
    /* border-bottom: 1px solid #eee; */
    font-size: 14px;
    text-align: left;
    color: #888;
}

.renewal span.active {
	color: #fff;
	background-color: #39a7ff
}

/*涓汉璁よ瘉*/
.attestation-ul,.attestation-ul li {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
}

.attestation-ul:before,.attestation-ul:after {
	height: 0
}

.attestation-ul li.mui-table-view-cell>a {
	margin: 0 !important;
	padding: 10px 0 20px 0;
}

.attestation-ul li.mui-table-view-cell>a img.mui-media-object {
	float: left;
	/*width: 5% !important;*/
    margin: 10px;
}

.attestation-ul li.mui-table-view-cell>a div.mui-media-body {
	margin-top: 5px !important;
	height: inherit !important;
	float: right;
    width: 85% !important;
    text-align: left;
}
.row_span_r{
	position: absolute;
    right: 40px;
    font-size: 12px;
    color:  #2BB3FD;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.attestation-ul li.mui-table-view-cell>a div.mui-media-body h2 {
	font-weight: 400;
	font-size: 16px
}

.attestation-ul li.mui-table-view-cell>a div.mui-media-body p {
	margin-bottom: 0;
	font-size: 12px;
	
}

.attestation-ul li.mui-table-view-cell>a div.mui-media-body p>img {
	height: 11px;
	width: 16px;
	padding-left: 5px;
	position: relative;
	top: 2px;
}

.personal {
	font-size: 17px;
	background-color: #F0EFF5;
}

.personal .info-title {
	padding: 7px 15px;
	font-size: 14px;
	color: #FE820C
}

.personal div.mui-input-row {
	background-color: #fff;
	height: 46px
}

.personal div.mui-input-row>label {
	padding: 15px;
}

.personal div.mui-input-row>input {
	height: 46px;
	font-size: 12px
}

.personal div.mui-input-row>img {
	top: 13px;
	position: absolute;
	right: 15px;
	width: 20px;
}

.personal div.mui-input-row:after {
	left: 0
}

.personal div.wu:after,.personal:before,.personal:after,.mobile:before,.mobile:after {
	height: 0
}

.mui-bar-nav .mui-per-right {
	background: url(../img/baocun.png) center  no-repeat;
	background-size: cover;
	height: 22px;
	width: 22px;
	top: 10px;
	right: 22px;
	position: absolute;
}
.yqhy{
	background: url(../img/yqhy.png) no-repeat;
	 width:100%;
    height:100%;
    background-size:100% 100%;
    position:relative;
	
}
.yqan {
    background: url(../img/hyan.png) no-repeat;
    width: 61%;
    left: 20%;
    /* margin: 0 auto; */
    height: 8%;
    background-size: 100% 100%;
    position: absolute;
    top:65%;
    color:#FED23D;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
}
.iden {
	float: right;
	width: 65%;
	height: 145px;
	padding: 25px 15px 15px 0;
}

.hint {
	margin-top: 50px;
	width: 100%;
}

.hint .hint-title {
	text-align: center;
}

.hint .hint-title img {
	width: 33%;
	position: relative;
	top: -5px;
}

.hint .hint-title span {
	padding: 0 5px;
	font-size: 15px;
	color: #555;
}

.hint .hint-content {
	font-size: 12px;
	padding-left: 20%;
	margin-top: 13px;
	color: #888;
	line-height: 1.8;
}

.mobile {
	padding: 15px 10px 40px;
}

.mobile h5 {
	margin: 15px 0 8px;
	color: #000;
	padding-left: 10px;
	font-size: 16px;
}

.mobile input {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.mobile a.button {
	margin-top: 40px;
	border-radius: 5px;
}

.mobile-checkbox {
	font-size: 14px;
	color: #a9a7a7;
}

.mobile .mobile-checkbox input {
	left: 0 !important;
	top: 8px;
	width: 16px;
	height: 20px;
}

.mobile .mobile-checkbox input:before {
	font-size: 15px;
}

.mobile-checkbox label {
	padding-left: 22px !important
}

.mobile-checkbox label>a {
	color:  #fd5f77;
}

.mobile .mobile-checkbox:after {
	height: 0
}

.mobileSucceed {
	background-color: #fff;
	padding: 50px 0
}

.mobileSucceed p {
	margin: 0;
	color: #000;
	font-size: 15px;
	padding: 5px 0;
}

/*鐢宠璐锋*/
.applyloan {
	background-color: #fff;
	padding: 40px 20px
}

.apply {
	overflow: hidden;
	height: 95px
}

.apply .applyleft {
	width: 20px;
	float: left;
	position: relative;
	margin-right: 13px;
}

.apply .applyleft img {
	display: block;
	margin: 0 auto;
	padding: 3px 0;
}

.apply .applyright {
	float: left;
	width: 80%;
}

.apply .applyright h4 {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	padding: 5px 0 10px;
}

.apply .applyright h4.active,.apply .applyright p.active {
	color:#FFA435
}

.apply .applyright p {
	font-size: 12px;
	margin: 0;
	color: #adadad;
}

.applyloan-btn {
	margin-top: 100px;
}

/*缁戝畾閾惰鍗�*/
.bankcard {
	margin-top: 0 !important;
	background-color: #fdefe1;
}

.bankcard li {
	padding: 25px 15px;
	background-color: #fff;
	margin-top: 12px
}

.bankcard:before,.bankcard:after,.bankcard li:after {
	height: 0;
}

.bankcard li>img.bankimg {
	width: 35px;
	float: left;
	position: relative;
	top: 6px;
}

.bankcard li.mui-table-view-cell>a {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	margin: 0;
	left: 0;
	z-index: 99;
}

.bankcard li .bankdet {
	width: 80%;
	float: left;
	padding-left: 10px;
}

.bankcard li .bankdet h3 {
	font-weight: 400;
	font-size: 18px;
	margin: 0;
	padding-bottom: 10px;
}

.bankcard li .bankdet h3>img {
	height: 14px;
	position: relative;
	top: 2px;
	left: 10px;
}

.bankcard .bound {
	color: #8f8f94;
	padding: 35px 15px;
}

.bankcard .bound img {
	height: 22px;
	position: relative;
	top: 3px;
	right: 4px;
}

.bankcard-btn {
	margin-top: 200px;
}

/*娑堟伅涓績*/
.notice .mui-card {
	box-shadow: none;
	margin: 0 !important;
}

.notice-date {
	background-color: #efeff4;
	color: #8f8f94;
	padding: 6px 0;
	font-size: 12px;
}

.notice .mui-card-footer:before {
	height: 1px
}

.notice .mui-card>a {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

/*鍊熸璇︽儏*/
.borrow {
	margin-bottom: 7px;
	background-color: #fff;
}

.borrow>div {
	padding: 6px 0
}

.borrow span {
	display: inline-block;
	width: 75%;
	height: 40px;
	line-height: 40px;
	color: #5D5C5A;
	font-size: 26px;
	text-align: left;
	padding-left: 70px;
}

.borrow p {
	margin: 0;
	text-align: center;
}

.borrow span.active {
	color:  #fd5f77;
}

.borrow-table:before,.refund-table:after {
	height: 0
}

.borrow-table li:after {
	left: 0
}

.borrow-eie {
	background-color:  #1fae50;
	text-align: center;
	color: #fff;
	padding: 20px 0 65px;
}
.borrow{
	    position: absolute;
    top: 27%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.borrow-eie h1 {
	margin: 0 0 5px;
	font-size: 3em;
	font-weight: 400;
}

.borrow-eie p {
	margin: 0;
	color: #fff;
	font-size: 12px;
}

.borrow-table {
	color: #8f8f94;
	font-size: 14px;
	padding: 0 !important;
	margin:0 auto;
	    margin-top: 60px;
	    background: #fff;
}

.borrow-table li {
	padding: 15px;
}

.borrow-table li>span {
	color: #000;
	display: inline-block;
	width: 100px;
}

.borrow-table .mui-media {
	padding: 15px !important;
	margin: 0 !important;
	border-bottom: 1px solid #eee;
}

.borrow-table .mui-media>div {
	color: #8f8f94 !important;
	margin: 0 !important;
	font-size: 12px !important;
}

/*鑱旂郴瀹㈡湇*/
html,body {
	height: 100%
}

.wx-box-margin {
	margin: 20px;
	border-radius: 15px;
	padding: 30px 25px;
	color: #9b9b9b;
	text-align: center
}

.wx-pic>img {
	width: 35px;
	display: inline;
	vertical-align: middle
}

.wx-copy {
	color: #fa9f36;
	text-decoration: underline
}

/*閭�璇峰ソ鍙嬩笅杞介〉闈�*/
html,body {
	height: 100%
}

.wwx-box {
	/*background: url(../img/bbg.png) no-repeat center center fixed;*/
	background-origin: content-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.wwx-box-margin {
	position: relative;
	margin: 20px;
	border-radius: 15px;
	padding: 30px 25px;
	color: #9b9b9b;
	text-align: center;
	    background: #fff;
}

.wwx-box-margin>p {
	color: #39a7ff
}

.wwx-lines .line {
	height: 1px;
	width: 30%;
	background:  #fd5f77;
}

.wwx-lines .points {
	position: relative
}

.wwx-lines .point {
	border: 3px solid white;
	border-radius: 50%;
	margin: auto
}

.wwx-withdraw {
	    padding: 5px 0;
    color: #fff;
    font-weight: 800;
    margin-bottom: 80px;
    background:  #fd5f77;
}

.cash-box {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -28px
}

.wwx-logo {
	width: 50px;
	display: inline-block;
	vertical-align: top
}

.wwx-xjyz {
	display: inline-block;
	margin-left: 10px
}

.cash-p {
	color: white
}

/*閭�璇峰ソ鍙嬭禋浣ｉ噾*/
.commission-pBox {
	position: relative;
}

.commission-p {
	position: absolute;
	font-size: 12px;
	top: 12px;
	bottom: 0;
	left: 15px;
	right: 0;
}

.commission-input {
	border: 2px solid #39a7ff !important;
	border-radius: 10px !important;
	box-shadow: 1px 1px 1px #cab3b3;
}

#commission-verification {
	position: absolute;
	right: 0;
	width: 35%;
	color: white;
	border-radius: 10px;
	height: 100%;
	background-color:  #fd5f77;
	z-index: 888;
}

.commission-btn {
	padding: 10px 0;
	border-radius: 10px;
}

.commission-foot>p {
	color: #B2B2B2;
	margin: 0;
}

/*韬唤淇℃伅*/
.acc_apply ul li .acc_img {
	width: 80%;
	margin: 0 auto;
	/*margin-bottom: 60px;*/
}

.acc_apply ul li .acc_imgin {
	width: 100%;
}

.acc_sc {
	position: relative;
	top: -100%;
	height: 100%;
	margin: 10px 0;
}

.acc_sc .ph08 {
	opacity: 0;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.box1{
    height: 140px;
    width: 84%;
    left: 8%;
    position: absolute;
    bottom: 43px;
    padding-top:55px;
}
.acc_sc .acc_scicon {
	display: block;
	color: #b2b2b2;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 12%;
	left: 40%;
	background: url(../img/pz.png) no-repeat;
	background-size: contain;
}
.renewal span {
    display: inline-block;
    margin: 25px 0;
    width: 86%;
    height: 48px;
    line-height: 49px;
    background: url(../img/d1.png) no-repeat;
    background-size: 100% 100%;
    color: #525152;
    /* border-radius: 5px; */
    font-size: 26px;
}
#item2 .renewal .action1{
	display: inline-block;
    margin: 25px 0;
    width: 86%;
    height: 48px;
    line-height: 49px;
    background: url(../img/d2.png) no-repeat;
   
    background-size: 100% 100%;
    color: #525152;
    /* border-radius: 5px; */
    font-size: 26px;
	
}

.btn-bear {
	line-height: 15px;
	margin-top: 30px;
	border-radius: 25px !important;
	height: 40px;
	padding: 10px 0;
	width: 96%;
	margin: 50px auto;
}
/*.mh {max-height: 115px;}
.mw {max-width: 100%;}
.album-old{
	float: right;
    width: 65%;
    height: 145px;
    padding: 15px 15px 15px 0;
	max-height: 115px;
    position: relative;
    top: -100%;
    height: 100%;
    margin: 10px 0;
}
.upload-btn{
	display: block;
    color: #b2b2b2;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 15%;
    background: url(../img/pz.png) no-repeat;
    background-size: contain;
}
#file0{
	opacity: 0;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

    
.upload-img img{
	max-height: 115px;
    max-width: 100%;
}*/

/*鍦嗙幆鍊掕鏃�*/
.circle-box {
	    width: 240px;
    height: 240px;
    position: relative;
    margin: 0px auto;
    padding: 20px 0;
			}
			
			/*.circle-box .text {
				text-align: center;
				line-height: 200px;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
			}*/
			
			.circle-box canvas {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 5px;
				z-index: 1;
			}